.account-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0;
}

.account-link {
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 0.5rem 1rem;
    margin: 0;
}

.account-link a {
    text-decoration: none;
    text-align: center;
    color: var(--text);
    height: 100%;
    display: flex;
    align-items: center;
}

.account-link img {
    height: 1.5rem;
    padding-right: 0.5rem;
}

/* p.content {
    max-width: 1000px;
    justify-self: center;
} */
