.engineering-card {
    display: flex row;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    /* border: solid 1px var(--text); */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.288);
    border-top: solid 1px rgba(255, 255, 255, 0.3);
    border-left: solid 1px rgba(255, 255, 255, 0.3);
}
.engineering-card:last-child {
    margin-bottom: 0;
}

.engineering-card-text {
    padding: 0;
    margin: 0;
}

.engineering-card img {
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    border-radius: 20px;
    border: solid 1px transparent;
    object-fit: cover;
    object-position: center;
}



/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  /* GALLERY ENTRIES */
    div.engineering.entry {
        margin: 0;
        padding: 10px 0 10px 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    div.engineering.entry div.image-container {
        width: 100%;
    }
    div.engineering.entry div.image-container img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    div.engineering.entry div.text-container {
        width: 100%;
        align-items: center;
    }
}